site_name: Kilroy Documentation
site_url: "https://docs.kilroy.tech/"
repo_url: https://github.com/kilroy-tech/kilroy-tech.github.io
edit_uri: edit/main/docs/
use_directory_urls: false
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - tables
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption

theme:
  name: material
  features:
    - navigation.footer
    - content.code.copy
    - content.action.edit
    
  palette:
    
    # Palette toggle for dark mode
    # - media: "(prefers-color-scheme: dark)"
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

    # Palette toggle for automatic mode
    #- media: "(prefers-color-scheme)"
    #  toggle:
    #    icon: material/brightness-auto
    #    name: Switch to light mode

    # Palette toggle for light mode
    # - media: "(prefers-color-scheme: light)"
    - scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

  logo: assets/kilroy.svg
  
plugins:
  - offline